* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}





.heading{
    font-size: 30px;
    width: 100%;
    color: #fff;
}

.container-calc{
    display: flex;
justify-content: center;
    align-items: center;
    min-height: 450px;
    width: 100%;
    
}
.calculator
{
    position: relative;
    display: grid;
}

.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(170, 190, 190);
}

.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgb(0,0,0,.1);
}
.calculator span:active{
    background: #74ff3b;
    color: #111;
}

.calculator span.clear{
    grid-column: span 2;
    width: 120px;
    background: #ff3077;
}
.calculator span.classplus{
    grid-row: span 2;
    height: 120px;
}
.calculator span.equal{
    background: #03b1ff;

}


.container1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: auto;
    margin-left: 35px;

}
.boxed1{
    border: 1px solid#0c2835;
    background-color: #0c2835;
    width: 200px;
    color: #FFFCFC;
    font-family: sans-serif;
    height: 50px;
    text-align: center;
    margin: 100px;
    margin-top:10px;
    font-size: 20px;
}

.boxed2{
    border: 1px solid #0c2835;
    background-color: #0c2835;
    width: 200px;
    color: #FFFCFC;
    font-family: sans-serif;
    height: 50px;
    text-align: center;
    margin: 100px;
    margin-top: 40px;
    font-size: 20px;
}
.boxed3{
    border: 1px solid #0c2835;
    background-color: #0c2835;
    width: 200px;
    color: #FFFCFC;
    font-family: sans-serif;
    height: 50px;
    text-align: center;
    margin: 100px;
    margin-right: 10px;
    margin-top:10px;
    font-size: 20px;
}
.boxed-fah1,
.boxed-fah2{
    border: 1px solid #0c2835;
    background-color: #0c2835;
    width: 300px;
    color: #FFFCFC;
    font-family: sans-serif;
    height: 50px;
    text-align: center;
    margin: 100px;
    margin-top: 30px;
    font-size: 20px;
   
}
h1{
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}
ul{
    margin-top: 25px;
    
}

li{
    color: black;
    margin: 15px;
    border: 2px solid grey;
    border-radius: 15px;
}
li:hover{
    background-color: grey;
    transform: translateX(0.1rem);
     transition: transform 150ms;
     cursor: pointer;
}




/*
@media screen and (max-width:1200px){
    .boxed2,
    .boxed3{
         margin-top: 350px;
}
.boxed-fah2{
     margin-top: 350px;
}
.container3{
    width: 350px;
}
}    
*/


@media screen and (max-width:1280px){
    .boxed3,
    .boxed2{
         margin-top: 350px;
}

}    

@media screen and (max-width:600px){
    .boxed2,
    .boxed3{
         margin-top: 350px;
}
.boxed-fah2{
     margin-top: 350px;
}
.container3{
    width: 350px;
}
.container10{
    margin-top: 2000px;
}

footer{
    margin-top: 92%;
}

} 


.container10{
    margin-top: 30%;
}

